<form class="card shadow-sm p-3 mb-3" method="get">
  <div class="row g-2" id="tradeFilters">
    <div class="col-md-2"><input class="form-control" id="filterFechaDesde" name="fecha_desde" type="date" value="{{ filters.fecha_desde }}"></div>
    <div class="col-md-2"><input class="form-control" id="filterFechaHasta" name="fecha_hasta" type="date" value="{{ filters.fecha_hasta }}"></div>
    <div class="col-md-2"><input class="form-control" id="filterActivo" name="activo" placeholder="Activo" value="{{ filters.activo }}"></div>
    <div class="col-md-2">
      <select class="form-select" id="filterDireccion" name="direccion">
        <option value="">Dirección</option>
        <option value="Buy" {% if filters.direccion == 'Buy' %}selected{% endif %}>Buy</option>
        <option value="Sell" {% if filters.direccion == 'Sell' %}selected{% endif %}>Sell</option>
      </select>
    </div>
    <div class="col-md-2"><input class="form-control" id="filterEmocion" name="emocion" placeholder="Emoción" value="{{ filters.emocion }}"></div>
    <div class="col-md-2"><input class="form-control" id="filterTipoEntrada" name="tipo_entrada" placeholder="Tipo entrada" value="{{ filters.tipo_entrada }}"></div>
    <div class="col-md-2"><button class="btn btn-dark w-100" type="submit">Aplicar</button></div>
    <div class="col-md-2"><a class="btn btn-outline-secondary w-100" href="{{ url_for('main.journal') }}">Limpiar</a></div>
  </div>
</form>
