<div class="card shadow-sm p-3 mb-3">
  <div class="row g-2" id="tradeFilters">
    <div class="col-md-2"><input class="form-control" id="filterFecha" type="date"></div>
    <div class="col-md-2"><input class="form-control" id="filterActivo" placeholder="Activo"></div>
    <div class="col-md-2">
      <select class="form-select" id="filterDireccion"><option value="">Dirección</option><option>Buy</option><option>Sell</option></select>
    </div>
    <div class="col-md-2"><input class="form-control" id="filterEmocion" placeholder="Emoción"></div>
    <div class="col-md-2"><input class="form-control" id="filterTipoEntrada" placeholder="Tipo entrada"></div>
    <div class="col-md-2"><button class="btn btn-outline-secondary w-100" id="clearFilters" type="button">Limpiar</button></div>
  </div>
</div>
